<!-- home.html -->

{% extends 'portfolio/layout.html' %}
{% load static %}
{% block link %}
<link rel="stylesheet" href="{% static 'portfolio/css/estilos.css' %}">
{% endblock %}

{% block main %}
    <div class="inicio">
        <div class="texto">
            <div>
                <p>Olá!</p>
                <p>Sou o Tomás Lourenço</p>
                <p>Estudante de Engenharia Informática</p>
                <!--
                <a href="https://www.linkedin.com/in/joaoantas05/"> {% load static %} <img src="{% static 'portfolio/images/linkedin.png' %}" width="35"></a>
                <a href="https://github.com/joaoantas22002629/pw-labs-joaoantas-a22002629"> {% load static %} <img src="{% static 'portfolio/images/github.png' %}" width="35"></a>
                <a href="mailto:joaoisidroantas@gmail.com"> {% load static %} <img src="{% static 'portfolio/images/gmail.png' %}" width="35"></a>
                -->

            </div>
        </div> 
        <div class="dados">
            {% load static %}
            <img src="{% static 'portfolio/images/chapeuAzul.jpg' %}" width="450">
        </div>
    </div>

    <div class="carta" id="carta">
        {% load static %}
        <img src="{% static 'portfolio/images/lusofonaLado.jpg' %}" width="100%">
        <article>
            <p>
                Sou estudante no 2º ano do curso de  Engenharia Informática na Universidade Lusófona em Lisboa,
                sempre gostei de aprender novas coisas e experenciar as mesmas com os meus colegas,
                obtendo novos conhecimentos na minha área favorita, a tecnologia.
                ampliando conhecimentos e horizontes nas áreas das novas tecnologias.
            </p>
        </article>
    </div>

    <script>
      document.addEventListener('DOMContentLoaded', function() {
      fetch('https://api.ipma.pt/open-data/forecast/meteorology/cities/daily/1110600.json')// envia GET request ao URL
      .then(response => response.json()) // Põe a resposta no formato json
      .then(data =>{
        let tempoMin = data.data[0].tMin
        document.querySelector('#tempoMin').append(tempoMin);
        let tempoMax = data.data[0].tMax
        document.querySelector('#tempoMax').append(tempoMax);
        let classWindSpeed = data.data[0].classWindSpeed
        document.querySelector('#classWindSpeed').append(classWindSpeed);
      } ); // Põe os dados na consola
     });

     function carbon(distance){
            const options = {
            method: 'GET',
            headers: {
                'X-RapidAPI-Key': '6287c1cb65msh3b631dd5192f66bp1a0bcajsn97a0456e26b4',
                'X-RapidAPI-Host': 'carbonfootprint1.p.rapidapi.com'
            }
            };

            fetch('https://carbonfootprint1.p.rapidapi.com/CarbonFootprintFromCarTravel?distance='+String(distance)+'&vehicle=SmallDieselCar', options)
                .then(response => response.json())
                .then(data=>
                    {
                      document.getElementById('result').innerHTML = String("Pegada de corbono por distância percorrida por um automóvel" + " - ") + String(data.carbonEquivalent) + String("Kg");
                    }
                   );
        }
    </script>

{% endblock %}